# --- Minecraft Gerados (Lixo) ---
/saves/
/logs/
/screenshots/
/resourcepacks/
/shaderpacks/
/backups/
/crash-reports/
/asm/
/launcher-cache/

# --- Arquivos de Usuário (Privacidade) ---
usernamecache.json
usercache.json
user-keys.json
options.txt
optionsof.txt

# --- Prism / MultiMC (Configurações Locais) ---
.minecraft/
/patches/
instance.cfg
mmc-pack.json
_LAUNCHER_LOG.txt

# --- OS e IDE (Sistema) ---
.DS_Store
thumbs.db
.idea/
.vscode/

# --- isso por causa do manifest
/mods/ 
